/* devanagari */
@font-face {
	font-family: 'Eczar';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/eczar/v13/BXRlvF3Pi-DLmz0kDO5C8A.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Eczar';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/eczar/v13/BXRlvF3Pi-DLmz0rDO5C8A.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Eczar';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/eczar/v13/BXRlvF3Pi-DLmz0lDO4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/worksans/v16/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiAJpp_c.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/worksans/v16/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBiEJpp_c.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../MaterialDesign-Webfont-master/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpg.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .alert-section {
	/* min-height: 100px;
	max-width: 400px; */
	background-color: white;
	-webkit-box-shadow: 10px 10px 28px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 28px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 28px 1px rgba(0, 0, 0, 0.75);
	position: fixed;
	top:10%;
	left:42%;
	z-index: 9999;
	border-left: 5px solid #FF8C00;
}
 .alert-section .fa-times {
	 position: absolute;
	 right: 5px;
	 top: 2px;
	 cursor: pointer;
}
 .alert-section .icon {
	 padding: 18px;
	 margin-right: 10px;
	 float: left;
}
 .alert-section .icon i {
	 font-size: 4em;
	 color: #fff;
}
  .alert-section p {
	 font-family: 'Work Sans';
	 padding-left: 7px;
	 padding-top: 20px;
	 padding-right: 18px;
}

 .alert-section p {
	 font-size: 0.8em;
	 /* padding-top: 6px; */
}
 #success .icon {
	 background-color: #29d885;
}
 #fail .icon {
	 background-color: #e44b5e;
}
 @media (min-width: 576px) {
	
	 .alert-section p {
		 font-size: 0.9em;
	}
}